body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    'Noto Serif SC', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 移动设备 */
@media (max-width: 768px) {
  .container {
    max-width: 768px; /* 或适当的宽度 */
    margin: 0 auto; /* 居中内容 */
  }
  .rv-card-footer {
    text-align: center !important;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 769px; /* 或适当的宽度 */
    margin: 0 auto; /* 居中内容 */
  }
}
